nav{
    z-index: 999;
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    list-style-type: none;
    
    
}


body{
    background:linear-gradient(transparent, white), url(./media/footer\ stupenda.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

    
}

.aforisma{
    color: rgba(0, 0, 0, 0.752);
    display: flex;
    font-family:"Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
 
}

   
header{
height: 70vh;
}   
    
    
   

.nomenegozio{
    color: rgba(0, 0, 0, 0.752);
    display: flex;
    justify-content: space-between;
    font-family:"Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    padding-top: 300px;
}
    
    

.immaginisection1{
    background-position: center;
    background-size: cover;
    border-radius: 1px;
    
   
}

.footer-custom{
        height: 300px;
        background: linear-gradient(transparent, black), url(./media/footer.jpg);
        background-position: center;
        background-size: cover;
        
       
    }



.staff{
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    list-style-type: none;  
}


.faq{
    display: flex;
    justify-content: center;
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-size: 50px;
    background-color: lightpink;
    margin-top: 25px;
    margin-bottom: 0;
}

.social{
    padding-top: 200px;
    padding-left: 250px;
}
.info{
    padding-bottom: 150px;
}

.info2{
    padding-top: 200px;
}







@media screen and( max-width: 670px){
    nav{
        font-size: 2rem;
    }
section{
    width: 30rem;
}


}