nav{
    z-index: 999;
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    list-style-type: none;
}

body{
    background:linear-gradient(transparent, white), url(./media/footer\ stupenda.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.aforisma{
    color: rgba(0, 0, 0, 0.752);
    font-family:"Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 3rem;
}
  
header{
    height: 70vh;
}   
    
.nomenegozio{
    margin-top: 10rem;
    color: rgba(0, 0, 0, 0.752);
    font-family:"Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px; 
}   

.immaginisection1{
    background-position: center;
    background-size: cover;
    border-radius: 1px;
}

.footer-custom{
    background: linear-gradient(transparent, black), url(./media/footer.jpg);
    background-position: center;
    background-size: cover;  
}

.staff{
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    list-style-type: none;  
}

.faq{
    display: flex;
    justify-content: center;
    font-family: "Grey Qo", cursive;
    font-weight: 300;
    font-size: 50px;
    background-color: lightpink;
    margin-top: 25px;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 670px) {
    .nomenegozio {
        font-size: 7.5rem;
    }
    .aforisma {
        font-size: 2rem;
    }
}